@import "app/styles/breakpoints.scss";

.basketList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @include breakpoint(md) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
